<div>
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-6">
          <button type="button" mdbBtn color="secondary" mdbWavesEffect (click)="cancelSelections()" class="w-100">Cancel</button>
        </div>
        <div class="col-6">
          <button type="submit" mdbBtn color="primary" mdbWavesEffect (click)="sendSelections()" class="w-100">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <h1 id="longTitle">Edit Bracket</h1>
    </div>
    <div class="col-lg-4">
      <mat-form-field class="mt-2 w-100">
        <mat-label>Change the current bracket: </mat-label>
        <mat-select placeholder="Select Bracket" [(value)]="bracketId">
          <mat-option *ngFor="let bracket of brackets" [value]="bracket.value">
            {{bracket.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <table *ngIf="bracketId !== 'f' && receivedData">
    <thead>
    <tr>
      <th class="text-center">Round of 64</th>
      <th class="text-center">Round of 32</th>
      <th class="text-center">Sweet 16</th>
      <th class="text-center">Elite 8</th>
      <th class="text-center">Final Four</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(64, 1)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(64, 1)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(32, 1)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(16, 1)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(64, 2)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(32, 1)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(64, 2)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(8, 1)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(64, 3)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(64, 3)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(32, 2)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(16, 1)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(64, 4)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(32, 2)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(64, 4)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" class="right"><span class="bracket-name">{{displayBracketName() | uppercase}} BRACKET</span></td>
      <td class="bottom">
        <p
          *ngIf="getGameById(buildBracketWinnerId()); let game;"
          (mouseenter)="highlightTeam(game, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')"
          [class.highlight]="isHighlighted(game, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')}}</span>
          {{displayTeam(game.id, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')}}
        </p>
      </td>
    </tr>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(64, 5)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(64, 5)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(32, 3)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(16, 2)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(64, 6)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(32, 3)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(64, 6)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(8, 1)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(64, 7)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(64, 7)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(32, 4)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(16, 2)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById(buildGameId(64, 8)); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(32, 4)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById(buildGameId(64, 8)); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>

  <table *ngIf="bracketId === 'f' && receivedData">
    <thead>
    <tr>
      <th class="text-center">Final Four</th>
      <th class="text-center">Championship</th>
      <th class="text-center">Winner</th>
      <th class="text-center">Championship</th>
      <th class="text-center">Final Four</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="right top">
        <p
          *ngIf="getGameById('f-4-1'); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="left top">
        <p
          *ngIf="getGameById('f-4-2'); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
    </tr>
    <tr>
      <td class="right">&nbsp;</td>
      <td class="bottom">
        <p
          *ngIf="getGameById('f-2-1'); let game;"
          (click)="handleSelection(game, 'away')"
          (mouseenter)="highlightTeam(game, 'away')"
          [class.highlight]="isHighlighted(game, 'away')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'away')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'away')}}</span> {{displayTeam(game.id, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="bottom">
        <p
          *ngIf="getGameById('f-2-1'); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td class="left">&nbsp;</td>
    </tr>
    <tr>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>
        <p *ngIf="getGameById('f-1-1'); let game;" class="text-center text-">
          {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="left">&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p
          *ngIf="getGameById('f-4-1'); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="left bottom">
        <p
          *ngIf="getGameById('f-4-2'); let game;"
          (click)="handleSelection(game, 'home')"
          (mouseenter)="highlightTeam(game, 'home')"
          [class.highlight]="isHighlighted(game, 'home')"
          (mouseleave)="resetHighlight()"
          data-toggle="tooltip" data-placement="top" title="{{displayTeam(game.id, 'home')}}"
        >
          <span class="seed">{{displaySeed(game.id, 'home')}}</span> {{displayTeam(game.id, 'home')}}
        </p>
      </td>
    </tr>
    </tbody>
  </table>


</div>
