.dirty {
  background-color: lightpink;
}

input {
  background: transparent;
  border: none;
}

#longTitle {
  display: inline-block;
}

#shortTitle {
  display: none;
}
@media screen and (max-width: 800px){
  #longTitle {
    display: none;
  }

  #shortTitle {
    display: inline-block;
  }
}

