<div style="display: flex" class="justify-content-between align-items-center">
  <mat-form-field class="mt-2" *ngIf="dirtyGameIds.length === 0">
    <mat-label>Change the current round: </mat-label>
    <mat-select placeholder="Select Round" [(value)]="roundId" disableOptionCentering>
      <mat-option *ngFor="let round of rounds" [value]="round.value">
        {{round.viewLong}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="button" mdbBtn color="secondary" mdbWavesEffect *ngIf="dirtyGameIds.length > 0" (click)="resetGames()">Reset</button>

  <h1 id="longTitle">{{getRoundName('viewLong')}}</h1>
  <h1 id="shortTitle">{{getRoundName('viewShort')}}</h1>

  <button type="submit" mdbBtn color="primary" mdbWavesEffect [class.disabled]="dirtyGameIds.length === 0" (click)="submitGames()">Submit</button>
</div>

<div *ngIf="roundId !== '4' && roundId !== '2'">
  <h2 class="text-center">South</h2>
  <div class="row">
    <div class="col-4">Away Team</div>
    <div class="col-2 text-center">Score</div>
    <div class="col-4">Home Team</div>
    <div class="col-2 text-center">Score</div>
  </div>
  <div *ngFor="let game of getGames('s')" class="row my-2" [class.dirty]="isRowDirty(game.id)">
    <div class="col-4">{{getTeam(game, 'away')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Away Score" (change)="handleScoreUpdate(game, 'away', $event)" [value]="game.away_score">
    </div>
    <div class="col-4">{{getTeam(game, 'home')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Home Score" (change)="handleScoreUpdate(game, 'home', $event)" [value]="game.home_score">
    </div>
  </div>

  <h2 class="text-center mt-2">West</h2>
  <div class="row">
    <div class="col-4">Away Team</div>
    <div class="col-2">Score</div>
    <div class="col-4">Home Team</div>
    <div class="col-2">Score</div>
  </div>
  <div *ngFor="let game of getGames('w')" class="row my-2" [class.dirty]="isRowDirty(game.id)">
    <div class="col-4">{{getTeam(game, 'away')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Away Score" (change)="handleScoreUpdate(game, 'away', $event)" [value]="game.away_score">
    </div>
    <div class="col-4">{{getTeam(game, 'home')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Home Score" (change)="handleScoreUpdate(game, 'home', $event)" [value]="game.home_score">
    </div>
  </div>

  <h2 class="text-center mt-2">East</h2>
  <div class="row">
    <div class="col-4">Away Team</div>
    <div class="col-2">Score</div>
    <div class="col-4">Home Team</div>
    <div class="col-2">Score</div>
  </div>
  <div *ngFor="let game of getGames('e')" class="row my-2" [class.dirty]="isRowDirty(game.id)">
    <div class="col-4">{{getTeam(game, 'away')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Away Score" (change)="handleScoreUpdate(game, 'away', $event)" [value]="game.away_score">
    </div>
    <div class="col-4">{{getTeam(game, 'home')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Home Score" (change)="handleScoreUpdate(game, 'home', $event)" [value]="game.home_score">
    </div>
  </div>

  <h2 class="text-center mt-2">Midwest</h2>
  <div class="row">
    <div class="col-4">Away Team</div>
    <div class="col-2">Score</div>
    <div class="col-4">Home Team</div>
    <div class="col-2">Score</div>
  </div>
  <div *ngFor="let game of getGames('m')" class="row my-2" [class.dirty]="isRowDirty(game.id)">
    <div class="col-4">{{getTeam(game, 'away')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Away Score" (change)="handleScoreUpdate(game, 'away', $event)" [value]="game.away_score">
    </div>
    <div class="col-4">{{getTeam(game, 'home')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Home Score" (change)="handleScoreUpdate(game, 'home', $event)" [value]="game.home_score">
    </div>
  </div>
</div>

<div *ngIf="roundId === '4'">
  <h2 class="text-center">April 6</h2>
  <div class="row">
    <div class="col-4">Away Team</div>
    <div class="col-2 text-center">Score</div>
    <div class="col-4">Home Team</div>
    <div class="col-2 text-center">Score</div>
  </div>
  <div *ngFor="let game of getGames('f')" class="row my-2" [class.dirty]="isRowDirty(game.id)">
    <div class="col-4">{{getTeam(game, 'away')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Away Score" (change)="handleScoreUpdate(game, 'away', $event)" [value]="game.away_score">
    </div>
    <div class="col-4">{{getTeam(game, 'home')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Home Score" (change)="handleScoreUpdate(game, 'home', $event)" [value]="game.home_score">
    </div>
  </div>
</div>

<div *ngIf="roundId === '2'">
  <h2 class="text-center">April 8</h2>
  <div class="row">
    <div class="col-4">Away Team</div>
    <div class="col-2 text-center">Score</div>
    <div class="col-4">Home Team</div>
    <div class="col-2 text-center">Score</div>
  </div>
  <div *ngFor="let game of getGames('f')" class="row my-2" [class.dirty]="isRowDirty(game.id)">
    <div class="col-4">{{getTeam(game, 'away')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Away Score" (change)="handleScoreUpdate(game, 'away', $event)" [value]="game.away_score">
    </div>
    <div class="col-4">{{getTeam(game, 'home')}}</div>
    <div class="col-2">
      <input class="w-100" placeholder="Home Score" (change)="handleScoreUpdate(game, 'home', $event)" [value]="game.home_score">
    </div>
  </div>
</div>


