.form {
  background-color: #fafafa;
  margin: 40px auto;
  max-width: 400px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  padding: 30px;
}

input[type=text] {
  margin: 5px auto;
  width: 100%;
  display: inline-block;
}

.email {
  width: 100%;
}

.password {
  width: 100%;
}

.registerButton {
  width: 100%;
}

.error-message {
  margin-top: 2px;
}

.errorMsg {
  font-size: 1.5rem;
  color: red;
  text-align: center;
}

