<div class="form">
  <div id="login">
    <section class="mat-typography">
      <h1 class="mat-display-2">Register</h1>
    </section>
    <form [formGroup]="registerForm" *ngIf="registerForm">
      <div class="md-form">
        <input mdbInput mdbValidate type="text" id="first_name" class="form-control" formControlName="firstName">
        <label for="first_name">First Name</label>
        <mdb-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">First Name Required</mdb-error>
      </div>

      <div class="md-form">
        <input mdbInput mdbValidate type="text" id="last_name" class="form-control" formControlName="lastName">
        <label for="last_name">Last Name</label>
        <mdb-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">Last Name Required</mdb-error>
      </div>

      <div class="md-form">
        <input mdbInput mdbValidate type="text" id="email" class="form-control" formControlName="email">
        <label for="email">Email</label>
        <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Valid Email Required</mdb-error>
      </div>

      <div class="md-form">
        <input mdbInput mdbValidate type="password" id="password" class="form-control" formControlName="password">
        <label for="password">Password</label>
        <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Valid Password Required</mdb-error>
      </div>

      <div class="md-form">
        <input mdbInput mdbValidate type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
        <label for="confirmPassword">Confirm Password</label>
        <mdb-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">Passwords must match</mdb-error>
      </div>
      <button mat-raised-button color="primary" [type]="'submit'" class="registerButton" (click)="createUser()">Register</button>
      <button mat-button color="secondary" class="registerButton mt-1" (click)="cancel()">Cancel</button>
    </form>

  </div>
</div>
