<div class="row">
  <div class="col-md-4">
    <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="'/bracket/edit'" *ngIf="!hasTournamentStarted()" class="w-100">Edit</button>
    <div *ngIf="hasTournamentStarted()">
      <div>
        <div class="not-played border-dark border px-3 float-left">&nbsp;</div>
        <div class="ml-2">Not yet been played.</div>
      </div>
      <div class="stupid_gap">&nbsp;</div>
      <div>
        <div class="wrong border-dark border px-3 float-left">&nbsp;</div>
        <div class="ml-2">Incorrect.</div>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <h1 id="longTitle">{{getBracketName()}} Bracket</h1>
  </div>
  <div class="col-md-4">
    <mat-form-field class="mt-2 w-100">
      <mat-label>Change the current bracket: </mat-label>
      <mat-select placeholder="Select Bracket" [(value)]="bracketId">
        <mat-option *ngFor="let bracket of brackets" [value]="bracket.value">
          {{bracket.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div style="display: flex" class="justify-content-center" *ngIf="!hasTournamentStarted()">
  <div class="not-played border-dark border px-3">&nbsp;</div>
  <div class="ml-2">These games have not been played.</div>
</div>


<table *ngIf="bracketId !== 'f' && receivedData === 2">
  <thead>
    <tr>
      <th class="text-center">Round of 64</th>
      <th class="text-center">Round of 32</th>
      <th class="text-center">Sweet 16</th>
      <th class="text-center">Elite 8</th>
      <th class="text-center">Final Four</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right top">
        <p *ngIf="buildGameId(64, 1); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p *ngIf="buildGameId(64, 1); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td class="right top">
        <p *ngIf="buildGameId(32, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right top">
        <p *ngIf="buildGameId(16, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p *ngIf="buildGameId(64, 2); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td class="right bottom">
        <p *ngIf="buildGameId(32, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p *ngIf="buildGameId(64, 2); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right top">
        <p *ngIf="buildGameId(8, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p *ngIf="buildGameId(64, 3); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p *ngIf="buildGameId(64, 3); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td class="right top">
        <p
          *ngIf="buildGameId(32, 2); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right bottom">
        <p *ngIf="buildGameId(16, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p *ngIf="buildGameId(64, 4); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td class="right bottom">
        <p *ngIf="buildGameId(32, 2); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p *ngIf="buildGameId(64, 4); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" class="right"><span class="bracket-name">{{getBracketName() | uppercase}} BRACKET</span></td>
      <td class="bottom">&nbsp;
        <p *ngIf="buildBracketWinnerId(); let gameId;" [ngClass]="isPickCorrect(gameId, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')" mdbPopover="{{popover(gameId, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')}}">
          <span class="seed">{{displaySeed(gameId, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')}}</span>
          {{displayTeam(gameId, bracketId === 's' || bracketId === 'e' ? 'away' : 'home')}}
        </p>
      </td>
    </tr>
    <tr>
      <td class="right top">
        <p *ngIf="buildGameId(64, 5); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p *ngIf="buildGameId(64, 5); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td class="right top">
        <p *ngIf="buildGameId(32, 3); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right top">
        <p *ngIf="buildGameId(16, 2); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p *ngIf="buildGameId(64, 6); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td class="right bottom">
        <p *ngIf="buildGameId(32, 3); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p *ngIf="buildGameId(64, 6); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right bottom">
        <p *ngIf="buildGameId(8, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p *ngIf="buildGameId(64, 7); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p *ngIf="buildGameId(64, 7); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td class="right top">
        <p *ngIf="buildGameId(32, 4); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td class="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="right">&nbsp;</td>
      <td class="right bottom">
        <p *ngIf="buildGameId(16, 2); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right top">
        <p *ngIf="buildGameId(64, 8); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
        </p>
      </td>
      <td class="right bottom">
        <p *ngIf="buildGameId(32, 4); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="right bottom">
        <p *ngIf="buildGameId(64, 8); let gameId;">
          <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
        </p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

<table *ngIf="bracketId === 'f' && receivedData">
  <thead>
  <tr>
    <th class="text-center">Final Four</th>
    <th class="text-center">Championship</th>
    <th class="text-center">Winner</th>
    <th class="text-center">Championship</th>
    <th class="text-center">Final Four</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right top">
      <p *ngIf="buildGameId(4, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
        <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
      </p>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left top">
      <p *ngIf="buildGameId(4, 2); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
        <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
      </p>
    </td>
  </tr>
  <tr>
    <td class="right">&nbsp;</td>
    <td class="bottom">
      <p *ngIf="buildGameId(2, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'away')" mdbPopover="{{popover(gameId, 'away')}}">
        <span class="seed">{{displaySeed(gameId, 'away')}}</span> {{displayTeam(gameId, 'away')}}
      </p>
    </td>
    <td>&nbsp;</td>
    <td class="bottom">
      <p *ngIf="buildGameId(2, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
        <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
      </p>
    </td>
    <td class="left">&nbsp;</td>
  </tr>
  <tr>
    <td class="right">&nbsp;</td>
    <td>&nbsp;</td>
    <td>
      <p *ngIf="buildGameId(1, 1); let gameId;" class="text-center text-" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
        {{displayTeam(gameId, 'home')}}
      </p>
    </td>
    <td>&nbsp;</td>
    <td class="left">&nbsp;</td>
  </tr>
  <tr>
    <td class="right bottom">
      <p *ngIf="buildGameId(4, 1); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
        <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
      </p>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="left bottom">
      <p *ngIf="buildGameId(4, 2); let gameId;" [ngClass]="isPickCorrect(gameId, 'home')" mdbPopover="{{popover(gameId, 'home')}}">
        <span class="seed">{{displaySeed(gameId, 'home')}}</span> {{displayTeam(gameId, 'home')}}
      </p>
    </td>
  </tr>
  </tbody>
</table>


