table {
  border-collapse: collapse;
  border: none;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;

  tr {

    td {
      vertical-align: middle;
      margin: 0;
      padding: 0;
      max-width: 12em;
      min-width: 12em;

      p {
        margin: 0;
        padding: 5px 5px 2px 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }
}

.stupid_gap {
  font-size: 0.25em;
}

.wrong {
  background-color: lightpink;
}

.right {
  border-right: 1px solid black;
}

.left {
  border-left: 1px solid black;
}

.top {
  border-top: 1px solid black;
}

.bottom {
  border-bottom: 1px solid black;
}

.bracket-name {
  color: gray;
  font-style: italic;
}

.highlight {
  background-color: #f4f4f4;
  box-shadow: 2px 5px 5px 1px #e4e4e4;
}

.not-played {
  background-color: #FFEFD5;
}

#longTitle {
  display: inline-block;
}

#shortTitle {
  display: none;
}

@media screen and (max-width: 1000px){
  table {
    tr {
      td {
        max-width: 8em;
        min-width: 8em;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  table {
    tr {
      td {
        max-width: 6em;
        min-width: 6em;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  table {
    tr {
      td {
        max-width: 4em;
        min-width: 4em;
      }
    }
  }
}
