<div class="row">
  <div class="col-8"><h2>League Scores</h2></div>
  <div class="col-4 justify-content-end" style="display: flex"><i class="fas fa-info-circle align-self-center" (click)="basicModal.show()"></i></div>
</div>


<div *ngIf="scores">
  <table mdbTable class="z-depth-2">
    <thead>
    <tr>
      <th *ngFor="let head of displayedColumns; let i = index" scope="col" [mdbTableSort]="scores" [sortBy]="displayedColumns[i]">{{head}}
        <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of scores;" [routerLink]="getRouterLink(el.user_id)" [className]="hasTournamentStarted() ? 'pointer' : ''">
      <td>{{el.first_name}}</td>
      <td>{{el.last_name}}</td>
      <td>{{el.score}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">How We Score</h4>
      </div>
      <div class="modal-body">
        We set the scores based on a fibonacci approach, starting at two points for the Round of 64. We believe the games in the later rounds should be worth more, but the lopsided approach taken by sites like ESPN make it almost impossible to win a March Madness bracket unless you successfully select the tournament winner. Our approach will still give you an edge if you successfully predict the winner, but it is not completely necessary to win overall. The points work like this:
        <pre>
          Round of 64 => 2 points
          Round of 32 => 3 points
          Sweet Sixteen => 5 points
          Elite Eight => 8 points
          Final Four => 13 points
          Championship => 21 points
        </pre>
        The total points available using this scoring method is 231.
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>
