<div class="form">
  <div id="login">
    <section class="mat-typography">
      <h1 class="mat-display-2">Sign In</h1>
    </section>
    <form action="" [formGroup]='loginForm' (ngSubmit)="login()">
      <div>
        <mat-form-field class="email">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="email">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="'password'">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" [type]="'submit'" class="loginButton">Log In</button>
      <button mat-button color="secondary" [type]="'button'" class="registerButton mt-1" (click)="register()">Register</button>
    </form>
  </div>
  <div *ngIf="errorMsg">
    <div class="errorMsg">{{errorMsg}}</div>
  </div>
</div>

