<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color">
  <mdb-navbar-brand><span class="navbar-brand">MADNESS</span></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['bracket']"><i class="fas fa-basketball-ball"></i> Bracket<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['league']"><i class="fas fa-trophy"></i> League</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"><i class="fas fa-user"></i> {{fullName}} <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['admin']" *ngIf="isAdmin">Admin</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['logout']">Logout</a>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>
